# Dependencies
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
config.env

# Uploads
/uploads/

# Build output
/dist
/build

# Test output
/coverage
